.card {
    height: 100vh;
    width: 100vw;
}

#green {
    background-color: green !important;
  }
  
  #red {
    background-color: rgb(170, 26, 26) !important;
  }
  
  #random-colour {
    background-color: rgb(122, 26, 170) !important;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px; 
  }
  
  .btn {
    flex: 1; /* Ensure buttons take equal width */
    text-align: center; /* Center the text inside buttons */
  }
  

