.card {
    height: 100vh;
    width: 100vw;
    background-color: transparent !important;  
  }

  .card-header, .card-title, .card-text {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card-header{
    font-size: 4em;
    padding: 30px;
  }

  .card-title {
    font-size: 3em;
    padding: 30px;
  }

  .card-text {
    font-size: 2em;
  }


#green {
    background-color: green !important;
  }
  
  #red {
    background-color: rgb(170, 26, 26) !important;
  }
  
  #random-colour {
    background-color: rgb(122, 26, 170) !important;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px; 
    margin-top: 60px;
  }
  
  .btn {
    flex: 1; 
    text-align: center; 
  }
  

